@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family:  Helvetica;
  overflow-x: hidden;
  
}
 h2{
  @apply  font-bold text-white text-[22px]
 }
 li{
  @apply font-semibold
 }

 #footer-contets{
  @apply flex flex-col items-start gap-[20px]
 }

 #footer-contets li{
  @apply font-normal mb-[10px] cursor-pointer
 }

 .footer-social-icons img{
  @apply w-[40px] m-[15px]
 }


/* #header{
 

  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
} */

/* #explore-menu-list::-webkit-scrollbar{
  display: none;
} */




