@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family:  Helvetica;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
 h2{
  @apply  font-bold text-white text-[22px]
 }
 li{
  @apply font-semibold
 }

 #footer-contets{
  @apply flex flex-col items-start gap-[20px] 
 }

 #footer-contets li{
  @apply font-normal mb-[10px] cursor-pointer
 }

 .footer-social-icons img{
  @apply w-[40px] m-[15px] max-sm:m-[8px]
 }

 .app-download-platform img{
  @apply w-[120px] max-w-[180px] transition-[0.5s] transition-all cursor-pointer hover:scale-[1.05]
 }

 .cart-total-details{
  @apply flex justify-between text-[#555] max-md:text-[13px]
 }
.cart-details-container hr{
  @apply bg-[#e2e2e2] h-[1px] my-[10px] 
}
.place-order-left input{
  @apply mb-[15px] w-[100%] p-[10px] ring-1 rounded-[4px] ring-[#c5c5c5] outline-[#ea5c1fc9]
}
#header{
 

  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}

/* #explore-menu-list::-webkit-scrollbar{
  display: none;
} */




